.project
.classpath
*.bat
*.sh
*.prefs
/.github/
/target/
/test-output/
/debug.log/
.settings
/.idea/
/src/main/resources/properties/default/
/generate_allure_report.sh
/allure-results/
/allure-report/
/execution-summary/
/extent-reports/
/performanceReport/
allure-report/AllureReport.html
