# ===== Java build files =====
/target/
*.class

# ===== IntelliJ IDEA =====
.idea/
*.iml
*.iws
out/

# ===== VS Code =====
.vscode/

# ===== OS-specific files =====
.DS_Store         # macOS
Thumbs.db         # Windows
ehthumbs.db       # Windows
desktop.ini       # Windows

# ===== Maven =====
/.mvn/
/**/target/
/**/build/
!src/main/**/target/
!src/test/**/target/

# ===== Logs & Test Results =====
*.log
logs/
test-output/
allure-results/
allure-report/
*.json

# ===== Allure =====
.allure
execution-summary
test-outputs
docker-compose.yml
generate_allure_report.bat
*.xml
last-history/

# ===== Environment configs =====
.env
*.properties
!src/main/resources/*.properties

# ===== Others =====
*.swp
*.bak
*.tmp
